openapi: 3.0.3
info:
  contact:
    name: API issue tracker
    url: https://github.com/soundcloud/api
  description: "Discover and play over 320 million music tracks. Join the world’s\
    \ largest online community of artists, bands, DJs, and audio creators."
  termsOfService: https://developers.soundcloud.com/docs/api/terms-of-use
  title: SoundCloud Public API Specification
  version: 1.0.0
  x-konfig-uses-multipart-form-data: true
servers:
- url: https://api.soundcloud.com
tags:
- description: Own User Endpoints.
  name: me
- description: Tracks Endpoints.
  name: tracks
- description: SoundCloud Users Endpoints.
  name: users
- description: Playlists Endpoints.
  name: playlists
- description: Liking Tracks & Playlists.
  name: likes
- description: Reposting Tracks & Playlists.
  name: reposts
- description: Search Endpoints.
  name: search
- description: Authentication and Authorization Endpoints.
  name: oauth
- description: Miscellaneous Endpoints.
  name: miscellaneous
paths:
  /connect:
    get:
      description: |
        <h3>Security Advice</h3>
        * [OAuth Authorization Code flow](https://datatracker.ietf.org/doc/html/draft-ietf-oauth-security-topics-16#section-2.1.1) (`response_type=code`) is the only allowed method of authorization.
        * Use the `state` parameter for [CSRF protection](https://tools.ietf.org/html/draft-ietf-oauth-security-topics-16#section-4.7). Pass a sufficient  random nonce here and verify this nonce again after retrieving the token.
      operationId: Oauth_authorizeUser
      parameters:
      - description: The client id belonging to your application
        example: some client
        explode: true
        in: query
        name: client_id
        required: true
        schema:
          type: string
        style: form
        x-konfig-original-example: some client
      - description: The redirect uri you have configured for your application
        example: https://soundcloud.com
        explode: true
        in: query
        name: redirect_uri
        required: true
        schema:
          type: string
        style: form
        x-konfig-original-example: https://soundcloud.com
      - description: Support only the Authorization Code Flow
        example: code
        explode: true
        in: query
        name: response_type
        required: true
        schema:
          enum:
          - code
          type: string
        style: form
        x-konfig-original-example: code
      - description: Any value included here will be appended to the redirect URI.
          Use this for CSRF protection.
        example: encrypted_session_info
        explode: true
        in: query
        name: state
        required: false
        schema:
          type: string
        style: form
        x-konfig-original-example: encrypted_session_info
      responses:
        "200":
          description: OK
        "302":
          description: Redirect to connect portal
          headers:
            Location:
              description: Redirect to connect poral "https://secure.soundcloud.com/connect"
              explode: false
              schema:
                type: string
              style: simple
        "401":
          content:
            application/json; charset=utf-8:
              examples:
                default:
                  $ref: '#/components/examples/Unauthorized'
              schema:
                $ref: '#/components/schemas/Error'
          description: Unauthorized
          x-do-not-generate: true
      summary: "The OAuth2 authorization endpoint. Your app redirects a user to this\
        \ endpoint, allowing them to delegate access to their account."
      tags:
      - oauth
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--connect
      x-accepts: application/json; charset=utf-8
  /oauth2/token:
    post:
      operationId: Oauth_provisionAccessToken
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAuthToken'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OAuthToken'
        required: true
      responses:
        "200":
          content:
            application/json; charset=utf-8:
              examples:
                ExpiringToken:
                  $ref: '#/components/examples/ExpiringToken'
          description: Success
        "400":
          content:
            application/json:
              examples:
                ErrorInvalidGrant:
                  $ref: '#/components/examples/ErrorInvalidGrant'
                ErrorUnsupportedGrant:
                  $ref: '#/components/examples/ErrorUnsupportedGrant'
                BadRequest:
                  $ref: '#/components/examples/BadRequest'
              schema:
                $ref: '#/components/schemas/OauthProvisionAccessTokenResponse'
          description: Bad Request
          x-do-not-generate: true
        "401":
          content:
            application/json:
              examples:
                ErrorInvalidGrant:
                  value:
                    code: 401
                    message: invalid_grant
                    link: https://developers.soundcloud.com/docs/api/guide#authentication
                ErrorInvalidScope:
                  $ref: '#/components/examples/ErrorInvalidScope'
                ErrorInvalidClient:
                  $ref: '#/components/examples/ErrorInvalidClient'
              schema:
                $ref: '#/components/schemas/OauthProvisionAccessToken401Response'
          description: Unauthorized
          x-do-not-generate: true
      summary: This endpoint accepts POST requests and is used to provision access
        tokens once a user has authorized your application.
      tags:
      - oauth
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--oauth2-token
      x-content-type: application/x-www-form-urlencoded
      x-accepts: application/json
  /me:
    get:
      operationId: Me_getUserInformation
      responses:
        "200":
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Me'
          description: Success
        "401":
          content:
            application/json; charset=utf-8:
              examples:
                default:
                  $ref: '#/components/examples/Unauthorized'
              schema:
                $ref: '#/components/schemas/Error'
          description: Unauthorized
          x-do-not-generate: true
      security:
      - AuthHeader: []
      summary: Returns the authenticated user’s information.
      tags:
      - me
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--me
      x-accepts: application/json; charset=utf-8
  /me/activities:
    get:
      operationId: Me_getActivities
      parameters:
      - description: |
          Filters content by level of access the user (logged in or anonymous) has to the track. The result list will include only tracks with the specified access. Include all options if you'd like to see all possible tracks. See `Track#access` schema for more details.
        explode: false
        in: query
        name: access
        required: false
        schema:
          example: "playable,preview"
          items:
            enum:
            - playable
            - preview
            - blocked
            type: string
          type: array
          x-konfig-original-example: "playable,preview"
          x-konfig-generated-schema: konfig-generated-schema-components-parameters-access-schema
        style: form
      - description: Number of results to return in the collection.
        example: 2
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 50
          example: 50
          maximum: 200
          minimum: 1
          type: integer
          x-konfig-original-example: 50
          x-konfig-generated-schema: konfig-generated-schema-components-parameters-limit-schema
        style: form
        x-konfig-original-example: 2
      responses:
        "200":
          content:
            application/json; charset=utf-8:
              examples:
                default:
                  $ref: '#/components/examples/Activities'
              schema:
                $ref: '#/components/schemas/Activities'
          description: Success
        "401":
          content:
            application/json; charset=utf-8:
              examples:
                default:
                  $ref: '#/components/examples/Unauthorized'
              schema:
                $ref: '#/components/schemas/Error'
          description: Unauthorized
          x-do-not-generate: true
      security:
      - AuthHeader: []
      summary: Returns the authenticated user's activities.
      tags:
      - me
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--me-activities
      x-accepts: application/json; charset=utf-8
  /me/activities/all/own:
    get:
      operationId: Me_getRecentActivities
      parameters:
      - description: |
          Filters content by level of access the user (logged in or anonymous) has to the track. The result list will include only tracks with the specified access. Include all options if you'd like to see all possible tracks. See `Track#access` schema for more details.
        explode: false
        in: query
        name: access
        required: false
        schema:
          example: "playable,preview"
          items:
            enum:
            - playable
            - preview
            - blocked
            type: string
          type: array
          x-konfig-original-example: "playable,preview"
          x-konfig-generated-schema: konfig-generated-schema-components-parameters-access-schema
        style: form
      - description: Number of results to return in the collection.
        example: 2
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 50
          example: 50
          maximum: 200
          minimum: 1
          type: integer
          x-konfig-original-example: 50
          x-konfig-generated-schema: konfig-generated-schema-components-parameters-limit-schema
        style: form
        x-konfig-original-example: 2
      responses:
        "200":
          content:
            application/json; charset=utf-8:
              examples:
                default:
                  $ref: '#/components/examples/Activities'
              schema:
                $ref: '#/components/schemas/Activities'
          description: Success
        "401":
          content:
            application/json; charset=utf-8:
              examples:
                default:
                  $ref: '#/components/examples/Unauthorized'
              schema:
                $ref: '#/components/schemas/Error'
          description: Unauthorized
          x-do-not-generate: true
      security:
      - AuthHeader: []
      summary: Recent the authenticated user's activities.
      tags:
      - me
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--me-activities-all-own
      x-accepts: application/json; charset=utf-8
  /me/activities/tracks:
    get:
      operationId: Me_getRecentTracks
      parameters:
      - description: |
          Filters content by level of access the user (logged in or anonymous) has to the track. The result list will include only tracks with the specified access. Include all options if you'd like to see all possible tracks. See `Track#access` schema for more details.
        explode: false
        in: query
        name: access
        required: false
        schema:
          example: "playable,preview"
          items:
            enum:
            - playable
            - preview
            - blocked
            type: string
          type: array
          x-konfig-original-example: "playable,preview"
          x-konfig-generated-schema: konfig-generated-schema-components-parameters-access-schema
        style: form
      - description: Number of results to return in the collection.
        example: 2
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 50
          example: 50
          maximum: 200
          minimum: 1
          type: integer
          x-konfig-original-example: 50
          x-konfig-generated-schema: konfig-generated-schema-components-parameters-limit-schema
        style: form
        x-konfig-original-example: 2
      responses:
        "200":
          content:
            application/json; charset=utf-8:
              examples:
                default:
                  $ref: '#/components/examples/Activities'
              schema:
                $ref: '#/components/schemas/Activities'
          description: Success
        "401":
          content:
            application/json; charset=utf-8:
              examples:
                default:
                  $ref: '#/components/examples/Unauthorized'
              schema:
                $ref: '#/components/schemas/Error'
          description: Unauthorized
          x-do-not-generate: true
      security:
      - AuthHeader: []
      summary: Returns the authenticated user's recent track related activities.
      tags:
      - me
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--me-activities-tracks
      x-accepts: application/json; charset=utf-8
  /me/likes/tracks:
    get:
      operationId: Me_listLikedTracks
      parameters:
      - description: Number of results to return in the collection.
        example: 2
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 50
          example: 50
          maximum: 200
          minimum: 1
          type: integer
          x-konfig-original-example: 50
          x-konfig-generated-schema: konfig-generated-schema-components-parameters-limit-schema
        style: form
        x-konfig-original-example: 2
      - description: |
          Filters content by level of access the user (logged in or anonymous) has to the track. The result list will include only tracks with the specified access. Include all options if you'd like to see all possible tracks. See `Track#access` schema for more details.
        explode: false
        in: query
        name: access
        required: false
        schema:
          example: "playable,preview,blocked"
          items:
            enum:
            - playable
            - preview
            - blocked
            type: string
          type: array
          x-konfig-original-example: "playable,preview,blocked"
          x-konfig-generated-schema: konfig-generated-schema-components-parameters-access_explicit-schema
        style: form
      - description: "Returns paginated collection of items (recommended, returning\
          \ a list without pagination is deprecated and should not be used)"
        example: true
        explode: true
        in: query
        name: linked_partitioning
        required: false
        schema:
          type: boolean
        style: form
        x-konfig-original-example: true
      responses:
        "200":
          content:
            application/json; charset=utf-8:
              examples:
                default:
                  $ref: '#/components/examples/Tracks'
                tracksList:
                  $ref: '#/components/examples/TracksList'
              schema:
                $ref: '#/components/schemas/MeListLikedTracksResponse'
          description: Success
        "401":
          content:
            application/json; charset=utf-8:
              examples:
                default:
                  $ref: '#/components/examples/Unauthorized'
              schema:
                $ref: '#/components/schemas/Error'
          description: Unauthorized
          x-do-not-generate: true
      security:
      - AuthHeader: []
      summary: Returns a list of favorited or liked tracks of the authenticated user.
      tags:
      - me
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--me-likes-tracks
      x-accepts: application/json; charset=utf-8
  /me/likes/playlists:
    get:
      operationId: Me_getLikedPlaylists
      parameters:
      - description: Number of results to return in the collection.
        example: 2
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 50
          example: 50
          maximum: 200
          minimum: 1
          type: integer
          x-konfig-original-example: 50
          x-konfig-generated-schema: konfig-generated-schema-components-parameters-limit-schema
        style: form
        x-konfig-original-example: 2
      - description: "Returns paginated collection of items (recommended, returning\
          \ a list without pagination is deprecated and should not be used)"
        example: true
        explode: true
        in: query
        name: linked_partitioning
        required: false
        schema:
          type: boolean
        style: form
        x-konfig-original-example: true
      responses:
        "200":
          content:
            application/json; charset=utf-8:
              examples:
                default:
                  $ref: '#/components/examples/Playlists'
                playlistsArray:
                  $ref: '#/components/examples/PlaylistsArray'
              schema:
                $ref: '#/components/schemas/MeGetLikedPlaylistsResponse'
          description: Success
        "401":
          content:
            application/json; charset=utf-8:
              examples:
                default:
                  $ref: '#/components/examples/Unauthorized'
              schema:
                $ref: '#/components/schemas/Error'
          description: Unauthorized
          x-do-not-generate: true
      security:
      - AuthHeader: []
      summary: Returns a list of favorited or liked playlists of the authenticated
        user.
      tags:
      - me
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--me-likes-playlists
      x-accepts: application/json; charset=utf-8
  /me/followings:
    get:
      operationId: Me_getFollowedUsers
      parameters:
      - description: Number of results to return in the collection.
        example: 2
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 50
          example: 50
          maximum: 200
          minimum: 1
          type: integer
          x-konfig-original-example: 50
          x-konfig-generated-schema: konfig-generated-schema-components-parameters-limit-schema
        style: form
        x-konfig-original-example: 2
      - deprecated: true
        description: "Offset of first result. Deprecated, use `linked_partitioning`\
          \ instead."
        example: 0
        explode: true
        in: query
        name: offset
        required: false
        schema:
          default: 0
          example: 0
          type: integer
          x-konfig-original-example: 0
          x-konfig-generated-schema: konfig-generated-schema-components-parameters-offset-schema
        style: form
        x-konfig-original-example: 0
      responses:
        "200":
          content:
            application/json; charset=utf-8:
              examples:
                default:
                  $ref: '#/components/examples/Users'
              schema:
                $ref: '#/components/schemas/Users'
          description: Success
        "401":
          content:
            application/json; charset=utf-8:
              examples:
                default:
                  $ref: '#/components/examples/Unauthorized'
              schema:
                $ref: '#/components/schemas/Error'
          description: Unauthorized
          x-do-not-generate: true
      security:
      - AuthHeader: []
      summary: Returns a list of users who are followed by the authenticated user.
      tags:
      - me
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--me-followings
      x-accepts: application/json; charset=utf-8
  /me/followings/tracks:
    get:
      operationId: Me_listFollowedTracks
      parameters:
      - description: |
          Filters content by level of access the user (logged in or anonymous) has to the track. The result list will include only tracks with the specified access. Include all options if you'd like to see all possible tracks. See `Track#access` schema for more details.
        explode: false
        in: query
        name: access
        required: false
        schema:
          example: "playable,preview"
          items:
            enum:
            - playable
            - preview
            - blocked
            type: string
          type: array
          x-konfig-original-example: "playable,preview"
          x-konfig-generated-schema: konfig-generated-schema-components-parameters-access-schema
        style: form
      - description: Number of results to return in the collection.
        example: 2
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 50
          example: 50
          maximum: 200
          minimum: 1
          type: integer
          x-konfig-original-example: 50
          x-konfig-generated-schema: konfig-generated-schema-components-parameters-limit-schema
        style: form
        x-konfig-original-example: 2
      - deprecated: true
        description: "Offset of first result. Deprecated, use `linked_partitioning`\
          \ instead."
        example: 0
        explode: true
        in: query
        name: offset
        required: false
        schema:
          default: 0
          example: 0
          type: integer
          x-konfig-original-example: 0
          x-konfig-generated-schema: konfig-generated-schema-components-parameters-offset-schema
        style: form
        x-konfig-original-example: 0
      responses:
        "200":
          content:
            application/json; charset=utf-8:
              examples:
                default:
                  $ref: '#/components/examples/TracksList'
              schema:
                $ref: '#/components/schemas/TracksList'
          description: Success
        "401":
          content:
            application/json; charset=utf-8:
              examples:
                default:
                  $ref: '#/components/examples/Unauthorized'
              schema:
                $ref: '#/components/schemas/Error'
          description: Unauthorized
          x-do-not-generate: true
      security:
      - AuthHeader: []
      summary: Returns a list of recent tracks from users followed by the authenticated
        user.
      tags:
      - me
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--me-followings-tracks
      x-accepts: application/json; charset=utf-8
  /me/followings/{user_id}:
    delete:
      operationId: Me_deleteFollowedUser
      parameters:
      - description: SoundCloud User id
        example: 743372812
        explode: false
        in: path
        name: user_id
        required: true
        schema:
          type: integer
        style: simple
        x-konfig-original-example: 743372812
      responses:
        "200":
          content:
            application/json; charset=utf-8:
              examples:
                "200":
                  $ref: '#/components/examples/OK'
          description: Success
        "401":
          content:
            application/json; charset=utf-8:
              examples:
                default:
                  $ref: '#/components/examples/Unauthorized'
              schema:
                $ref: '#/components/schemas/Error'
          description: Unauthorized
          x-do-not-generate: true
        "404":
          content:
            application/json:
              examples:
                default:
                  $ref: '#/components/examples/NotFound'
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Found
          x-do-not-generate: true
        "422":
          content:
            application/json:
              examples:
                default:
                  $ref: '#/components/examples/UnprocessableEntity'
              schema:
                $ref: '#/components/schemas/Error'
          description: Unprocessable Entity
          x-do-not-generate: true
      security:
      - AuthHeader: []
      summary: Deletes a user who is followed by the authenticated user.
      tags:
      - me
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-delete--me-followings-user_id
      x-accepts: application/json
    get:
      deprecated: true
      operationId: Me_getFollowedUser
      parameters:
      - description: SoundCloud User id
        example: 948745750
        explode: false
        in: path
        name: user_id
        required: true
        schema:
          type: integer
        style: simple
        x-konfig-original-example: 948745750
      responses:
        "200":
          content:
            application/json; charset=utf-8:
              examples:
                default:
                  $ref: '#/components/examples/User'
              schema:
                $ref: '#/components/schemas/User'
          description: Success
        "401":
          content:
            application/json; charset=utf-8:
              examples:
                default:
                  $ref: '#/components/examples/Unauthorized'
              schema:
                $ref: '#/components/schemas/Error'
          description: Unauthorized
          x-do-not-generate: true
        "404":
          content:
            application/json:
              examples:
                default:
                  $ref: '#/components/examples/NotFound'
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Found
          x-do-not-generate: true
      security:
      - AuthHeader: []
      summary: "Returns a user who is followed by the authenticated user. (use /users/{user_id}\
        \ instead, to fetch the user details)"
      tags:
      - me
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--me-followings-user_id
      x-accepts: application/json
    put:
      operationId: Me_followUser
      parameters:
      - description: SoundCloud User id
        example: 743372812
        explode: false
        in: path
        name: user_id
        required: true
        schema:
          type: integer
        style: simple
        x-konfig-original-example: 743372812
      responses:
        "200":
          content:
            application/json; charset=utf-8:
              examples:
                default:
                  $ref: '#/components/examples/Successful'
          description: Success
        "201":
          content:
            application/json; charset=utf-8:
              examples:
                default:
                  $ref: '#/components/examples/User'
              schema:
                $ref: '#/components/schemas/User'
          description: Success
        "401":
          content:
            application/json; charset=utf-8:
              examples:
                default:
                  $ref: '#/components/examples/Unauthorized'
              schema:
                $ref: '#/components/schemas/Error'
          description: Unauthorized
          x-do-not-generate: true
        "404":
          content:
            application/json:
              examples:
                default:
                  $ref: '#/components/examples/NotFound'
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Found
          x-do-not-generate: true
      security:
      - AuthHeader: []
      summary: Follows a user.
      tags:
      - me
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-put--me-followings-user_id
      x-accepts: application/json
  /me/followers:
    get:
      operationId: Me_getFollowersList
      parameters:
      - description: Number of results to return in the collection.
        example: 2
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 50
          example: 50
          maximum: 200
          minimum: 1
          type: integer
          x-konfig-original-example: 50
          x-konfig-generated-schema: konfig-generated-schema-components-parameters-limit-schema
        style: form
        x-konfig-original-example: 2
      responses:
        "200":
          content:
            application/json; charset=utf-8:
              examples:
                default:
                  $ref: '#/components/examples/Users'
              schema:
                $ref: '#/components/schemas/Users'
          description: Success
        "401":
          content:
            application/json; charset=utf-8:
              examples:
                default:
                  $ref: '#/components/examples/Unauthorized'
              schema:
                $ref: '#/components/schemas/Error'
          description: Unauthorized
          x-do-not-generate: true
      security:
      - AuthHeader: []
      summary: Returns a list of users who are following the authenticated user.
      tags:
      - me
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--me-followers
      x-accepts: application/json; charset=utf-8
  /me/followers/{follower_id}:
    get:
      deprecated: true
      operationId: Me_getFollowerById
      parameters:
      - description: SoundCloud User id to denote a Follower
        example: 743372812
        explode: false
        in: path
        name: follower_id
        required: true
        schema:
          type: integer
        style: simple
        x-konfig-original-example: 743372812
      responses:
        "200":
          content:
            application/json; charset=utf-8:
              examples:
                default:
                  $ref: '#/components/examples/User'
              schema:
                $ref: '#/components/schemas/User'
          description: Success
        "401":
          content:
            application/json; charset=utf-8:
              examples:
                default:
                  $ref: '#/components/examples/Unauthorized'
              schema:
                $ref: '#/components/schemas/Error'
          description: Unauthorized
          x-do-not-generate: true
      security:
      - AuthHeader: []
      summary: "Returns a user who is following the authenticated user. (use /users/{user_id}\
        \ instead, to fetch the user details)"
      tags:
      - me
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--me-followers-follower_id
      x-accepts: application/json; charset=utf-8
  /me/playlists:
    get:
      description: "Returns playlist info, playlist tracks and tracks owner info."
      operationId: Me_listPlaylistsInfoTracksOwner
      parameters:
      - description: A boolean flag to request a playlist with or without tracks.
          Default is `true`.
        example: true
        explode: true
        in: query
        name: show_tracks
        required: false
        schema:
          type: boolean
        style: form
        x-konfig-original-example: true
      - description: "Returns paginated collection of items (recommended, returning\
          \ a list without pagination is deprecated and should not be used)"
        example: true
        explode: true
        in: query
        name: linked_partitioning
        required: false
        schema:
          type: boolean
        style: form
        x-konfig-original-example: true
      - description: Number of results to return in the collection.
        example: 2
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 50
          example: 50
          maximum: 200
          minimum: 1
          type: integer
          x-konfig-original-example: 50
          x-konfig-generated-schema: konfig-generated-schema-components-parameters-limit-schema
        style: form
        x-konfig-original-example: 2
      responses:
        "200":
          content:
            application/json; charset=utf-8:
              examples:
                default:
                  $ref: '#/components/examples/Playlists'
                playlistsArray:
                  $ref: '#/components/examples/PlaylistsArray'
              schema:
                $ref: '#/components/schemas/MeGetLikedPlaylistsResponse'
          description: Success
        "401":
          content:
            application/json; charset=utf-8:
              examples:
                default:
                  $ref: '#/components/examples/Unauthorized'
              schema:
                $ref: '#/components/schemas/Error'
          description: Unauthorized
          x-do-not-generate: true
        "404":
          content:
            application/json:
              examples:
                default:
                  $ref: '#/components/examples/NotFound'
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Found
          x-do-not-generate: true
      security:
      - AuthHeader: []
      summary: Returns user’s playlists (sets).
      tags:
      - me
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--me-playlists
      x-accepts: application/json
  /me/tracks:
    get:
      operationId: Me_listUserTracks
      parameters:
      - description: Number of results to return in the collection.
        example: 2
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 50
          example: 50
          maximum: 200
          minimum: 1
          type: integer
          x-konfig-original-example: 50
          x-konfig-generated-schema: konfig-generated-schema-components-parameters-limit-schema
        style: form
        x-konfig-original-example: 2
      - description: "Returns paginated collection of items (recommended, returning\
          \ a list without pagination is deprecated and should not be used)"
        example: true
        explode: true
        in: query
        name: linked_partitioning
        required: false
        schema:
          type: boolean
        style: form
        x-konfig-original-example: true
      responses:
        "200":
          content:
            application/json; charset=utf-8:
              examples:
                default:
                  $ref: '#/components/examples/Tracks'
                tracksList:
                  $ref: '#/components/examples/TracksList'
              schema:
                $ref: '#/components/schemas/MeListLikedTracksResponse'
          description: Success
        "401":
          content:
            application/json; charset=utf-8:
              examples:
                default:
                  $ref: '#/components/examples/Unauthorized'
              schema:
                $ref: '#/components/schemas/Error'
          description: Unauthorized
          x-do-not-generate: true
      security:
      - AuthHeader: []
      summary: Returns a list of user's tracks.
      tags:
      - me
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--me-tracks
      x-accepts: application/json; charset=utf-8
  /tracks:
    get:
      operationId: Search_byQuery
      parameters:
      - description: search
        example: hello
        explode: true
        in: query
        name: q
        required: false
        schema:
          type: string
        style: form
        x-konfig-original-example: hello
      - description: A comma separated list of track ids to filter on
        example: "1,2,3"
        explode: true
        in: query
        name: ids
        required: false
        schema:
          type: string
        style: form
        x-konfig-original-example: "1,2,3"
      - description: A comma separated list of genres
        example: "Pop,House"
        explode: true
        in: query
        name: genres
        required: false
        schema:
          type: string
        style: form
        x-konfig-original-example: "Pop,House"
      - description: A comma separated list of tags
        example: test
        explode: true
        in: query
        name: tags
        required: false
        schema:
          type: string
        style: form
        x-konfig-original-example: test
      - description: "Return tracks with a specified bpm[from], bpm[to]"
        explode: false
        in: query
        name: bpm
        required: false
        schema:
          $ref: '#/components/schemas/Search_byQuery_bpm_parameter'
        style: deepObject
      - description: Return tracks within a specified duration range
        explode: false
        in: query
        name: duration
        required: false
        schema:
          $ref: '#/components/schemas/Search_byQuery_duration_parameter'
        style: deepObject
      - description: (yyyy-mm-dd hh:mm:ss) return tracks created within the specified
          dates
        explode: false
        in: query
        name: created_at
        required: false
        schema:
          $ref: '#/components/schemas/Search_byQuery_created_at_parameter'
        style: deepObject
      - description: |
          Filters content by level of access the user (logged in or anonymous) has to the track. The result list will include only tracks with the specified access. Include all options if you'd like to see all possible tracks. See `Track#access` schema for more details.
        explode: false
        in: query
        name: access
        required: false
        schema:
          example: "playable,preview"
          items:
            enum:
            - playable
            - preview
            - blocked
            type: string
          type: array
          x-konfig-original-example: "playable,preview"
          x-konfig-generated-schema: konfig-generated-schema-components-parameters-access-schema
        style: form
      - description: Number of results to return in the collection.
        example: 2
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 50
          example: 50
          maximum: 200
          minimum: 1
          type: integer
          x-konfig-original-example: 50
          x-konfig-generated-schema: konfig-generated-schema-components-parameters-limit-schema
        style: form
        x-konfig-original-example: 2
      - deprecated: true
        description: "Offset of first result. Deprecated, use `linked_partitioning`\
          \ instead."
        example: 0
        explode: true
        in: query
        name: offset
        required: false
        schema:
          default: 0
          example: 0
          type: integer
          x-konfig-original-example: 0
          x-konfig-generated-schema: konfig-generated-schema-components-parameters-offset-schema
        style: form
        x-konfig-original-example: 0
      - description: "Returns paginated collection of items (recommended, returning\
          \ a list without pagination is deprecated and should not be used)"
        example: true
        explode: true
        in: query
        name: linked_partitioning
        required: false
        schema:
          type: boolean
        style: form
        x-konfig-original-example: true
      responses:
        "200":
          content:
            application/json; charset=utf-8:
              examples:
                default:
                  $ref: '#/components/examples/Tracks'
                tracksList:
                  $ref: '#/components/examples/TracksList'
              schema:
                $ref: '#/components/schemas/MeListLikedTracksResponse'
          description: Success
        "400":
          content:
            application/json; charset=utf-8:
              examples:
                default:
                  $ref: '#/components/examples/BadRequest'
              schema:
                $ref: '#/components/schemas/Error'
          description: Bad Request
          x-do-not-generate: true
        "401":
          content:
            application/json; charset=utf-8:
              examples:
                default:
                  $ref: '#/components/examples/Unauthorized'
              schema:
                $ref: '#/components/schemas/Error'
          description: Unauthorized
          x-do-not-generate: true
        "500":
          description: Internal Server Error
      security:
      - AuthHeader: []
      summary: Performs a track search based on a query
      tags:
      - search
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--tracks
      x-accepts: application/json; charset=utf-8
    post:
      operationId: Tracks_uploadNewTrack
      requestBody:
        content:
          multipart/form-data:
            examples:
              default:
                $ref: '#/components/examples/TrackDataRequest'
            schema:
              $ref: '#/components/schemas/TracksUploadNewTrackRequest'
          multipart/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/TracksUploadNewTrackRequest1'
      responses:
        "201":
          content:
            application/json; charset=utf-8:
              examples:
                default:
                  $ref: '#/components/examples/Track'
              schema:
                $ref: '#/components/schemas/Track'
          description: Success
        "400":
          content:
            application/json; charset=utf-8:
              examples:
                default:
                  $ref: '#/components/examples/BadRequest'
              schema:
                $ref: '#/components/schemas/Error'
          description: Bad Request
          x-do-not-generate: true
        "401":
          content:
            application/json; charset=utf-8:
              examples:
                default:
                  $ref: '#/components/examples/Unauthorized'
              schema:
                $ref: '#/components/schemas/Error'
          description: Unauthorized
          x-do-not-generate: true
        "422":
          content:
            application/json:
              examples:
                default:
                  $ref: '#/components/examples/UnprocessableEntity'
              schema:
                $ref: '#/components/schemas/Error'
          description: Unprocessable Entity
          x-do-not-generate: true
      security:
      - AuthHeader: []
      summary: Uploads a new track.
      tags:
      - tracks
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--tracks
      x-content-type: multipart/form-data
      x-accepts: application/json
  /playlists:
    get:
      operationId: Search_byQuery
      parameters:
      - description: search
        example: hello
        explode: true
        in: query
        name: q
        required: false
        schema:
          type: string
        style: form
        x-konfig-original-example: hello
      - description: |
          Filters content by level of access the user (logged in or anonymous) has to the track. The result list will include only tracks with the specified access. Include all options if you'd like to see all possible tracks. See `Track#access` schema for more details.
        explode: false
        in: query
        name: access
        required: false
        schema:
          example: "playable,preview"
          items:
            enum:
            - playable
            - preview
            - blocked
            type: string
          type: array
          x-konfig-original-example: "playable,preview"
          x-konfig-generated-schema: konfig-generated-schema-components-parameters-access-schema
        style: form
      - description: A boolean flag to request a playlist with or without tracks.
          Default is `true`.
        example: true
        explode: true
        in: query
        name: show_tracks
        required: false
        schema:
          type: boolean
        style: form
        x-konfig-original-example: true
      - description: Number of results to return in the collection.
        example: 2
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 50
          example: 50
          maximum: 200
          minimum: 1
          type: integer
          x-konfig-original-example: 50
          x-konfig-generated-schema: konfig-generated-schema-components-parameters-limit-schema
        style: form
        x-konfig-original-example: 2
      - deprecated: true
        description: "Offset of first result. Deprecated, use `linked_partitioning`\
          \ instead."
        example: 0
        explode: true
        in: query
        name: offset
        required: false
        schema:
          default: 0
          example: 0
          type: integer
          x-konfig-original-example: 0
          x-konfig-generated-schema: konfig-generated-schema-components-parameters-offset-schema
        style: form
        x-konfig-original-example: 0
      - description: "Returns paginated collection of items (recommended, returning\
          \ a list without pagination is deprecated and should not be used)"
        example: true
        explode: true
        in: query
        name: linked_partitioning
        required: false
        schema:
          type: boolean
        style: form
        x-konfig-original-example: true
      responses:
        "200":
          content:
            application/json; charset=utf-8:
              examples:
                default:
                  $ref: '#/components/examples/Playlists'
                playlistsArray:
                  $ref: '#/components/examples/PlaylistsArray'
              schema:
                $ref: '#/components/schemas/MeGetLikedPlaylistsResponse'
          description: Success
        "400":
          content:
            application/json; charset=utf-8:
              examples:
                default:
                  $ref: '#/components/examples/BadRequest'
              schema:
                $ref: '#/components/schemas/Error'
          description: Bad Request
          x-do-not-generate: true
        "401":
          content:
            application/json; charset=utf-8:
              examples:
                default:
                  $ref: '#/components/examples/Unauthorized'
              schema:
                $ref: '#/components/schemas/Error'
          description: Unauthorized
          x-do-not-generate: true
      security:
      - AuthHeader: []
      summary: Performs a playlist search based on a query
      tags:
      - search
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--playlists
      x-accepts: application/json; charset=utf-8
    post:
      operationId: Playlists_createNewPlaylist
      requestBody:
        content:
          application/json:
            examples:
              default:
                $ref: '#/components/examples/CreateUpdatePlaylistRequest'
            schema:
              $ref: '#/components/schemas/CreateUpdatePlaylistRequest'
          multipart/form-data:
            examples:
              default:
                $ref: '#/components/examples/CreateUpdatePlaylistFormRequest'
            schema:
              $ref: '#/components/schemas/PlaylistsCreateNewPlaylistRequest'
        description: Create Playlist request
      responses:
        "201":
          content:
            application/json; charset=utf-8:
              examples:
                default:
                  $ref: '#/components/examples/Playlist'
              schema:
                $ref: '#/components/schemas/Playlist'
          description: Success
        "401":
          content:
            application/json; charset=utf-8:
              examples:
                default:
                  $ref: '#/components/examples/Unauthorized'
              schema:
                $ref: '#/components/schemas/Error'
          description: Unauthorized
          x-do-not-generate: true
        "404":
          content:
            application/json:
              examples:
                default:
                  $ref: '#/components/examples/NotFound'
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Found
          x-do-not-generate: true
      security:
      - AuthHeader: []
      summary: Creates a playlist.
      tags:
      - playlists
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--playlists
      x-content-type: application/json
      x-accepts: application/json
  /users:
    get:
      operationId: Search_userQuery
      parameters:
      - description: search
        example: hello
        explode: true
        in: query
        name: q
        required: false
        schema:
          type: string
        style: form
        x-konfig-original-example: hello
      - description: A comma separated list of track ids to filter on
        example: "1,2,3"
        explode: true
        in: query
        name: ids
        required: false
        schema:
          type: string
        style: form
        x-konfig-original-example: "1,2,3"
      - description: Number of results to return in the collection.
        example: 2
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 50
          example: 50
          maximum: 200
          minimum: 1
          type: integer
          x-konfig-original-example: 50
          x-konfig-generated-schema: konfig-generated-schema-components-parameters-limit-schema
        style: form
        x-konfig-original-example: 2
      - deprecated: true
        description: "Offset of first result. Deprecated, use `linked_partitioning`\
          \ instead."
        example: 0
        explode: true
        in: query
        name: offset
        required: false
        schema:
          default: 0
          example: 0
          type: integer
          x-konfig-original-example: 0
          x-konfig-generated-schema: konfig-generated-schema-components-parameters-offset-schema
        style: form
        x-konfig-original-example: 0
      - description: "Returns paginated collection of items (recommended, returning\
          \ a list without pagination is deprecated and should not be used)"
        example: true
        explode: true
        in: query
        name: linked_partitioning
        required: false
        schema:
          type: boolean
        style: form
        x-konfig-original-example: true
      responses:
        "200":
          content:
            application/json; charset=utf-8:
              examples:
                default:
                  $ref: '#/components/examples/Users'
              schema:
                $ref: '#/components/schemas/Users'
          description: Success
        "400":
          content:
            application/json; charset=utf-8:
              examples:
                default:
                  $ref: '#/components/examples/BadRequest'
              schema:
                $ref: '#/components/schemas/Error'
          description: Bad Request
          x-do-not-generate: true
        "401":
          content:
            application/json; charset=utf-8:
              examples:
                default:
                  $ref: '#/components/examples/Unauthorized'
              schema:
                $ref: '#/components/schemas/Error'
          description: Unauthorized
          x-do-not-generate: true
      security:
      - AuthHeader: []
      summary: Performs a user search based on a query
      tags:
      - search
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--users
      x-accepts: application/json; charset=utf-8
  /playlists/{playlist_id}:
    delete:
      operationId: Playlists_deletePlaylist
      parameters:
      - description: SoundCloud playlist id
        example: 10
        explode: false
        in: path
        name: playlist_id
        required: true
        schema:
          type: integer
        style: simple
        x-konfig-original-example: 10
      responses:
        "200":
          description: Success
        "404":
          content:
            application/json:
              examples:
                default:
                  $ref: '#/components/examples/NotFound'
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Found
          x-do-not-generate: true
      security:
      - AuthHeader: []
      summary: Deletes a playlist.
      tags:
      - playlists
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-delete--playlists-playlist_id
      x-accepts: application/json
    get:
      operationId: Playlists_getPlaylistById
      parameters:
      - description: SoundCloud playlist id
        example: 1212781357
        explode: false
        in: path
        name: playlist_id
        required: true
        schema:
          type: integer
        style: simple
        x-konfig-original-example: 1212781357
      - description: A secret token to fetch private playlists/tracks
        explode: true
        in: query
        name: secret_token
        required: false
        schema:
          type: string
        style: form
      - description: |
          Filters content by level of access the user (logged in or anonymous) has to the track. The result list will include only tracks with the specified access. Include all options if you'd like to see all possible tracks. See `Track#access` schema for more details.
        explode: false
        in: query
        name: access
        required: false
        schema:
          example: "playable,preview"
          items:
            enum:
            - playable
            - preview
            - blocked
            type: string
          type: array
          x-konfig-original-example: "playable,preview"
          x-konfig-generated-schema: konfig-generated-schema-components-parameters-access-schema
        style: form
      - description: A boolean flag to request a playlist with or without tracks.
          Default is `true`.
        example: true
        explode: true
        in: query
        name: show_tracks
        required: false
        schema:
          type: boolean
        style: form
        x-konfig-original-example: true
      responses:
        "200":
          content:
            application/json; charset=utf-8:
              examples:
                default:
                  $ref: '#/components/examples/Playlist'
              schema:
                $ref: '#/components/schemas/Playlist'
          description: Success
        "400":
          content:
            application/json; charset=utf-8:
              examples:
                default:
                  $ref: '#/components/examples/BadRequest'
              schema:
                $ref: '#/components/schemas/Error'
          description: Bad Request
          x-do-not-generate: true
        "401":
          content:
            application/json; charset=utf-8:
              examples:
                default:
                  $ref: '#/components/examples/Unauthorized'
              schema:
                $ref: '#/components/schemas/Error'
          description: Unauthorized
          x-do-not-generate: true
      security:
      - AuthHeader: []
      summary: Returns a playlist.
      tags:
      - playlists
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--playlists-playlist_id
      x-accepts: application/json; charset=utf-8
    put:
      operationId: Playlists_updatePlaylistById
      parameters:
      - description: SoundCloud playlist id
        example: 10
        explode: false
        in: path
        name: playlist_id
        required: true
        schema:
          type: integer
        style: simple
        x-konfig-original-example: 10
      requestBody:
        content:
          application/json:
            examples:
              default:
                $ref: '#/components/examples/CreateUpdatePlaylistRequest'
            schema:
              $ref: '#/components/schemas/CreateUpdatePlaylistRequest'
        description: Playlist payload
      responses:
        "200":
          content:
            application/json; charset=utf-8:
              examples:
                default:
                  $ref: '#/components/examples/Playlist'
              schema:
                $ref: '#/components/schemas/Playlist'
          description: Success
        "401":
          content:
            application/json; charset=utf-8:
              examples:
                default:
                  $ref: '#/components/examples/Unauthorized'
              schema:
                $ref: '#/components/schemas/Error'
          description: Unauthorized
          x-do-not-generate: true
        "404":
          content:
            application/json:
              examples:
                default:
                  $ref: '#/components/examples/NotFound'
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Found
          x-do-not-generate: true
      security:
      - AuthHeader: []
      summary: Updates a playlist.
      tags:
      - playlists
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-put--playlists-playlist_id
      x-content-type: application/json
      x-accepts: application/json
  /playlists/{playlist_id}/tracks:
    get:
      operationId: Playlists_getTracks
      parameters:
      - description: SoundCloud playlist id
        example: 1212781357
        explode: false
        in: path
        name: playlist_id
        required: true
        schema:
          type: integer
        style: simple
        x-konfig-original-example: 1212781357
      - description: A secret token to fetch private playlists/tracks
        explode: true
        in: query
        name: secret_token
        required: false
        schema:
          type: string
        style: form
      - description: |
          Filters content by level of access the user (logged in or anonymous) has to the track. The result list will include only tracks with the specified access. Include all options if you'd like to see all possible tracks. See `Track#access` schema for more details.
        explode: false
        in: query
        name: access
        required: false
        schema:
          example: "playable,preview"
          items:
            enum:
            - playable
            - preview
            - blocked
            type: string
          type: array
          x-konfig-original-example: "playable,preview"
          x-konfig-generated-schema: konfig-generated-schema-components-parameters-access-schema
        style: form
      - description: "Returns paginated collection of items (recommended, returning\
          \ a list without pagination is deprecated and should not be used)"
        example: true
        explode: true
        in: query
        name: linked_partitioning
        required: false
        schema:
          type: boolean
        style: form
        x-konfig-original-example: true
      responses:
        "200":
          content:
            application/json; charset=utf-8:
              examples:
                default:
                  $ref: '#/components/examples/Tracks'
                tracksList:
                  $ref: '#/components/examples/TracksList'
              schema:
                $ref: '#/components/schemas/MeListLikedTracksResponse'
          description: Success
        "400":
          content:
            application/json; charset=utf-8:
              examples:
                default:
                  $ref: '#/components/examples/BadRequest'
              schema:
                $ref: '#/components/schemas/Error'
          description: Bad Request
          x-do-not-generate: true
        "401":
          content:
            application/json; charset=utf-8:
              examples:
                default:
                  $ref: '#/components/examples/Unauthorized'
              schema:
                $ref: '#/components/schemas/Error'
          description: Unauthorized
          x-do-not-generate: true
      security:
      - AuthHeader: []
      summary: Returns tracks under a playlist.
      tags:
      - playlists
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--playlists-playlist_id-tracks
      x-accepts: application/json; charset=utf-8
  /playlists/{playlist_id}/reposters:
    get:
      operationId: Playlists_listReposters
      parameters:
      - description: SoundCloud playlist id
        example: 1212781357
        explode: false
        in: path
        name: playlist_id
        required: true
        schema:
          type: integer
        style: simple
        x-konfig-original-example: 1212781357
      - description: Number of results to return in the collection.
        example: 2
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 50
          example: 50
          maximum: 200
          minimum: 1
          type: integer
          x-konfig-original-example: 50
          x-konfig-generated-schema: konfig-generated-schema-components-parameters-limit-schema
        style: form
        x-konfig-original-example: 2
      responses:
        "200":
          content:
            application/json; charset=utf-8:
              examples:
                default:
                  $ref: '#/components/examples/Users'
              schema:
                $ref: '#/components/schemas/Users'
          description: Success
        "401":
          content:
            application/json; charset=utf-8:
              examples:
                default:
                  $ref: '#/components/examples/Unauthorized'
              schema:
                $ref: '#/components/schemas/Error'
          description: Unauthorized
          x-do-not-generate: true
        "404":
          content:
            application/json:
              examples:
                default:
                  $ref: '#/components/examples/NotFound'
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Found
          x-do-not-generate: true
      security:
      - AuthHeader: []
      summary: Returns a collection of playlist's reposters.
      tags:
      - playlists
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--playlists-playlist_id-reposters
      x-accepts: application/json
  /tracks/{track_id}:
    delete:
      operationId: Tracks_deleteTrack
      parameters:
      - description: SoundCloud Track id
        example: 308946187
        explode: false
        in: path
        name: track_id
        required: true
        schema:
          type: integer
        style: simple
        x-konfig-original-example: 308946187
      responses:
        "200":
          description: Success
        "404":
          content:
            application/json:
              examples:
                default:
                  $ref: '#/components/examples/NotFound'
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Found
          x-do-not-generate: true
      security:
      - AuthHeader: []
      summary: Deletes a track.
      tags:
      - tracks
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-delete--tracks-track_id
      x-accepts: application/json
    get:
      operationId: Tracks_getById
      parameters:
      - description: SoundCloud Track id
        example: 308946187
        explode: false
        in: path
        name: track_id
        required: true
        schema:
          type: integer
        style: simple
        x-konfig-original-example: 308946187
      - description: A secret token to fetch private playlists/tracks
        explode: true
        in: query
        name: secret_token
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json; charset=utf-8:
              examples:
                default:
                  $ref: '#/components/examples/Track'
              schema:
                $ref: '#/components/schemas/Track'
          description: Success
        "401":
          content:
            application/json; charset=utf-8:
              examples:
                default:
                  $ref: '#/components/examples/Unauthorized'
              schema:
                $ref: '#/components/schemas/Error'
          description: Unauthorized
          x-do-not-generate: true
        "404":
          content:
            application/json:
              examples:
                default:
                  $ref: '#/components/examples/NotFound'
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Found
          x-do-not-generate: true
      security:
      - AuthHeader: []
      summary: Returns a track.
      tags:
      - tracks
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--tracks-track_id
      x-accepts: application/json
    put:
      operationId: Tracks_updateTrackInformation
      parameters:
      - description: SoundCloud Track id
        example: 308946187
        explode: false
        in: path
        name: track_id
        required: true
        schema:
          type: integer
        style: simple
        x-konfig-original-example: 308946187
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TrackMetadataRequest'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/TrackDataRequest'
          multipart/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/TrackDataRequest'
        description: Track payload
      responses:
        "200":
          content:
            application/json; charset=utf-8:
              examples:
                default:
                  $ref: '#/components/examples/Track'
              schema:
                $ref: '#/components/schemas/Track'
          description: Success
        "400":
          content:
            application/json; charset=utf-8:
              examples:
                default:
                  $ref: '#/components/examples/BadRequest'
              schema:
                $ref: '#/components/schemas/Error'
          description: Bad Request
          x-do-not-generate: true
        "401":
          content:
            application/json; charset=utf-8:
              examples:
                default:
                  $ref: '#/components/examples/Unauthorized'
              schema:
                $ref: '#/components/schemas/Error'
          description: Unauthorized
          x-do-not-generate: true
      security:
      - AuthHeader: []
      summary: Updates a track's information.
      tags:
      - tracks
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-put--tracks-track_id
      x-content-type: application/json
      x-accepts: application/json; charset=utf-8
  /tracks/{track_id}/streams:
    get:
      operationId: Tracks_getStreamableUrls
      parameters:
      - description: SoundCloud Track id
        example: 308946187
        explode: false
        in: path
        name: track_id
        required: true
        schema:
          type: integer
        style: simple
        x-konfig-original-example: 308946187
      - description: A secret token to fetch private playlists/tracks
        explode: true
        in: query
        name: secret_token
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json; charset=utf-8:
              examples:
                default:
                  $ref: '#/components/examples/Streams'
              schema:
                $ref: '#/components/schemas/Streams'
          description: Success
        "401":
          content:
            application/json; charset=utf-8:
              examples:
                default:
                  $ref: '#/components/examples/Unauthorized'
              schema:
                $ref: '#/components/schemas/Error'
          description: Unauthorized
          x-do-not-generate: true
        "404":
          content:
            application/json:
              examples:
                default:
                  $ref: '#/components/examples/NotFound'
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Found
          x-do-not-generate: true
      security:
      - AuthHeader: []
      summary: Returns a track's streamable URLs
      tags:
      - tracks
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--tracks-track_id-streams
      x-accepts: application/json
  /tracks/{track_id}/comments:
    get:
      operationId: Tracks_getComments
      parameters:
      - description: SoundCloud Track id
        example: 308946187
        explode: false
        in: path
        name: track_id
        required: true
        schema:
          type: integer
        style: simple
        x-konfig-original-example: 308946187
      - description: Number of results to return in the collection.
        example: 2
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 50
          example: 50
          maximum: 200
          minimum: 1
          type: integer
          x-konfig-original-example: 50
          x-konfig-generated-schema: konfig-generated-schema-components-parameters-limit-schema
        style: form
        x-konfig-original-example: 2
      - deprecated: true
        description: "Offset of first result. Deprecated, use `linked_partitioning`\
          \ instead."
        example: 0
        explode: true
        in: query
        name: offset
        required: false
        schema:
          default: 0
          example: 0
          type: integer
          x-konfig-original-example: 0
          x-konfig-generated-schema: konfig-generated-schema-components-parameters-offset-schema
        style: form
        x-konfig-original-example: 0
      - description: "Returns paginated collection of items (recommended, returning\
          \ a list without pagination is deprecated and should not be used)"
        example: true
        explode: true
        in: query
        name: linked_partitioning
        required: false
        schema:
          type: boolean
        style: form
        x-konfig-original-example: true
      responses:
        "200":
          content:
            application/json; charset=utf-8:
              examples:
                default:
                  $ref: '#/components/examples/Comments'
              schema:
                $ref: '#/components/schemas/Comments'
          description: Success
        "401":
          content:
            application/json; charset=utf-8:
              examples:
                default:
                  $ref: '#/components/examples/Unauthorized'
              schema:
                $ref: '#/components/schemas/Error'
          description: Unauthorized
          x-do-not-generate: true
        "404":
          content:
            application/json:
              examples:
                default:
                  $ref: '#/components/examples/NotFound'
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Found
          x-do-not-generate: true
      security:
      - AuthHeader: []
      summary: Returns the comments posted on the track(track_id).
      tags:
      - tracks
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--tracks-track_id-comments
      x-accepts: application/json
    post:
      operationId: Tracks_createComment
      parameters:
      - description: SoundCloud Track id
        example: 308946187
        explode: false
        in: path
        name: track_id
        required: true
        schema:
          type: integer
        style: simple
        x-konfig-original-example: 308946187
      requestBody:
        content:
          application/json; charset=utf-8:
            schema:
              $ref: '#/components/schemas/TracksCreateCommentRequest'
        description: |
          Body of a comment
        required: true
      responses:
        "201":
          content:
            application/json; charset=utf-8:
              examples:
                default:
                  $ref: '#/components/examples/Comment'
              schema:
                $ref: '#/components/schemas/Comment'
          description: Success
        "422":
          content:
            application/json:
              examples:
                default:
                  $ref: '#/components/examples/UnprocessableEntity'
              schema:
                $ref: '#/components/schemas/Error'
          description: Unprocessable Entity
          x-do-not-generate: true
        "429":
          content:
            application/json:
              examples:
                default:
                  $ref: '#/components/examples/TooManyRequests'
              schema:
                $ref: '#/components/schemas/TooManyRequests'
          description: Too Many Requests
          x-do-not-generate: true
      security:
      - AuthHeader: []
      summary: Returns the newly created comment on success
      tags:
      - tracks
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--tracks-track_id-comments
      x-content-type: application/json; charset=utf-8
      x-accepts: application/json
  /tracks/{track_id}/favoriters:
    get:
      operationId: Tracks_getFavoriters
      parameters:
      - description: SoundCloud Track id
        example: 308946187
        explode: false
        in: path
        name: track_id
        required: true
        schema:
          type: integer
        style: simple
        x-konfig-original-example: 308946187
      - description: Number of results to return in the collection.
        example: 2
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 50
          example: 50
          maximum: 200
          minimum: 1
          type: integer
          x-konfig-original-example: 50
          x-konfig-generated-schema: konfig-generated-schema-components-parameters-limit-schema
        style: form
        x-konfig-original-example: 2
      - description: "Returns paginated collection of items (recommended, returning\
          \ a list without pagination is deprecated and should not be used)"
        example: true
        explode: true
        in: query
        name: linked_partitioning
        required: false
        schema:
          type: boolean
        style: form
        x-konfig-original-example: true
      responses:
        "200":
          content:
            application/json; charset=utf-8:
              examples:
                default:
                  $ref: '#/components/examples/Users'
              schema:
                $ref: '#/components/schemas/Users'
          description: Success
        "401":
          content:
            application/json; charset=utf-8:
              examples:
                default:
                  $ref: '#/components/examples/Unauthorized'
              schema:
                $ref: '#/components/schemas/Error'
          description: Unauthorized
          x-do-not-generate: true
        "404":
          content:
            application/json:
              examples:
                default:
                  $ref: '#/components/examples/NotFound'
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Found
          x-do-not-generate: true
      security:
      - AuthHeader: []
      summary: Returns a list of users who have favorited or liked the track.
      tags:
      - tracks
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--tracks-track_id-favoriters
      x-accepts: application/json
  /tracks/{track_id}/reposters:
    get:
      operationId: Tracks_listReposters
      parameters:
      - description: SoundCloud Track id
        example: 308946187
        explode: false
        in: path
        name: track_id
        required: true
        schema:
          type: integer
        style: simple
        x-konfig-original-example: 308946187
      - description: Number of results to return in the collection.
        example: 2
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 50
          example: 50
          maximum: 200
          minimum: 1
          type: integer
          x-konfig-original-example: 50
          x-konfig-generated-schema: konfig-generated-schema-components-parameters-limit-schema
        style: form
        x-konfig-original-example: 2
      responses:
        "200":
          content:
            application/json; charset=utf-8:
              examples:
                default:
                  $ref: '#/components/examples/Users'
              schema:
                $ref: '#/components/schemas/Users'
          description: Success
        "401":
          content:
            application/json; charset=utf-8:
              examples:
                default:
                  $ref: '#/components/examples/Unauthorized'
              schema:
                $ref: '#/components/schemas/Error'
          description: Unauthorized
          x-do-not-generate: true
        "404":
          content:
            application/json:
              examples:
                default:
                  $ref: '#/components/examples/NotFound'
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Found
          x-do-not-generate: true
      security:
      - AuthHeader: []
      summary: Returns a collection of track's reposters.
      tags:
      - tracks
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--tracks-track_id-reposters
      x-accepts: application/json
  /tracks/{track_id}/related:
    get:
      operationId: Tracks_getRelatedTracks
      parameters:
      - description: SoundCloud Track id
        example: 308946187
        explode: false
        in: path
        name: track_id
        required: true
        schema:
          type: integer
        style: simple
        x-konfig-original-example: 308946187
      - description: |
          Filters content by level of access the user (logged in or anonymous) has to the track. The result list will include only tracks with the specified access. Include all options if you'd like to see all possible tracks. See `Track#access` schema for more details.
        explode: false
        in: query
        name: access
        required: false
        schema:
          example: "playable,preview"
          items:
            enum:
            - playable
            - preview
            - blocked
            type: string
          type: array
          x-konfig-original-example: "playable,preview"
          x-konfig-generated-schema: konfig-generated-schema-components-parameters-access-schema
        style: form
      - description: Number of results to return in the collection.
        example: 2
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 50
          example: 50
          maximum: 200
          minimum: 1
          type: integer
          x-konfig-original-example: 50
          x-konfig-generated-schema: konfig-generated-schema-components-parameters-limit-schema
        style: form
        x-konfig-original-example: 2
      - deprecated: true
        description: "Offset of first result. Deprecated, use `linked_partitioning`\
          \ instead."
        example: 0
        explode: true
        in: query
        name: offset
        required: false
        schema:
          default: 0
          example: 0
          type: integer
          x-konfig-original-example: 0
          x-konfig-generated-schema: konfig-generated-schema-components-parameters-offset-schema
        style: form
        x-konfig-original-example: 0
      - description: "Returns paginated collection of items (recommended, returning\
          \ a list without pagination is deprecated and should not be used)"
        example: true
        explode: true
        in: query
        name: linked_partitioning
        required: false
        schema:
          type: boolean
        style: form
        x-konfig-original-example: true
      responses:
        "200":
          content:
            application/json; charset=utf-8:
              examples:
                default:
                  $ref: '#/components/examples/Tracks'
                tracksList:
                  $ref: '#/components/examples/TracksList'
              schema:
                $ref: '#/components/schemas/MeListLikedTracksResponse'
          description: Success
        "401":
          content:
            application/json; charset=utf-8:
              examples:
                default:
                  $ref: '#/components/examples/Unauthorized'
              schema:
                $ref: '#/components/schemas/Error'
          description: Unauthorized
          x-do-not-generate: true
        "404":
          content:
            application/json:
              examples:
                default:
                  $ref: '#/components/examples/NotFound'
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Found
          x-do-not-generate: true
      security:
      - AuthHeader: []
      summary: Returns all related tracks of track on SoundCloud.
      tags:
      - tracks
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--tracks-track_id-related
      x-accepts: application/json
  /resolve:
    get:
      operationId: Miscellaneous_resolveSoundcloudUrls
      parameters:
      - description: SoundCloud URL
        example: https://soundcloud.com/user-434241656
        explode: true
        in: query
        name: url
        required: true
        schema:
          type: string
        style: form
        x-konfig-original-example: https://soundcloud.com/user-434241656
      responses:
        "200":
          description: OK
        "302":
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Found'
          description: Found
          x-do-not-generate: true
        "404":
          content:
            application/json:
              examples:
                default:
                  $ref: '#/components/examples/NotFound'
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Found
          x-do-not-generate: true
      security:
      - AuthHeader: []
      summary: Resolves soundcloud.com and on.soundcloud.com URLs to Resource URLs
        to use with the API.
      tags:
      - miscellaneous
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--resolve
      x-accepts: application/json
  /users/{user_id}:
    get:
      operationId: Users_getUser
      parameters:
      - description: SoundCloud User id
        example: 948745750
        explode: false
        in: path
        name: user_id
        required: true
        schema:
          type: integer
        style: simple
        x-konfig-original-example: 948745750
      responses:
        "200":
          content:
            application/json; charset=utf-8:
              examples:
                default:
                  $ref: '#/components/examples/User'
              schema:
                $ref: '#/components/schemas/User'
          description: Success
        "401":
          content:
            application/json; charset=utf-8:
              examples:
                default:
                  $ref: '#/components/examples/Unauthorized'
              schema:
                $ref: '#/components/schemas/Error'
          description: Unauthorized
          x-do-not-generate: true
        "404":
          content:
            application/json:
              examples:
                default:
                  $ref: '#/components/examples/NotFound'
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Found
          x-do-not-generate: true
      security:
      - AuthHeader: []
      summary: Returns a user.
      tags:
      - users
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--users-user_id
      x-accepts: application/json
  /users/{user_id}/favorites:
    get:
      deprecated: true
      operationId: Users_listFavorites
      parameters:
      - description: SoundCloud User id
        example: 948745750
        explode: false
        in: path
        name: user_id
        required: true
        schema:
          type: integer
        style: simple
        x-konfig-original-example: 948745750
      - description: Number of results to return in the collection.
        example: 2
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 50
          example: 50
          maximum: 200
          minimum: 1
          type: integer
          x-konfig-original-example: 50
          x-konfig-generated-schema: konfig-generated-schema-components-parameters-limit-schema
        style: form
        x-konfig-original-example: 2
      - description: "Returns paginated collection of items (recommended, returning\
          \ a list without pagination is deprecated and should not be used)"
        example: true
        explode: true
        in: query
        name: linked_partitioning
        required: false
        schema:
          type: boolean
        style: form
        x-konfig-original-example: true
      responses:
        "200":
          content:
            application/json; charset=utf-8:
              examples:
                default:
                  $ref: '#/components/examples/Tracks'
                tracksList:
                  $ref: '#/components/examples/TracksList'
              schema:
                $ref: '#/components/schemas/MeListLikedTracksResponse'
          description: Success
        "401":
          content:
            application/json; charset=utf-8:
              examples:
                default:
                  $ref: '#/components/examples/Unauthorized'
              schema:
                $ref: '#/components/schemas/Error'
          description: Unauthorized
          x-do-not-generate: true
      security:
      - AuthHeader: []
      summary: "Returns a list of user's favorited or liked tracks. (use /users/:userId/likes/tracks\
        \ instead, to fetch a user's likes)"
      tags:
      - users
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--users-user_id-favorites
      x-accepts: application/json; charset=utf-8
  /users/{user_id}/followers:
    get:
      description: Returns a list of users that follows (user_id).
      operationId: Users_getFollowers
      parameters:
      - description: SoundCloud User id
        example: 948745750
        explode: false
        in: path
        name: user_id
        required: true
        schema:
          type: integer
        style: simple
        x-konfig-original-example: 948745750
      - description: Number of results to return in the collection.
        example: 2
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 50
          example: 50
          maximum: 200
          minimum: 1
          type: integer
          x-konfig-original-example: 50
          x-konfig-generated-schema: konfig-generated-schema-components-parameters-limit-schema
        style: form
        x-konfig-original-example: 2
      responses:
        "200":
          content:
            application/json; charset=utf-8:
              examples:
                default:
                  $ref: '#/components/examples/Users'
              schema:
                $ref: '#/components/schemas/Users'
          description: Success
        "401":
          content:
            application/json; charset=utf-8:
              examples:
                default:
                  $ref: '#/components/examples/Unauthorized'
              schema:
                $ref: '#/components/schemas/Error'
          description: Unauthorized
          x-do-not-generate: true
      security:
      - AuthHeader: []
      summary: Returns a list of user’s followers.
      tags:
      - users
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--users-user_id-followers
      x-accepts: application/json; charset=utf-8
  /users/{user_id}/followings:
    get:
      description: Returns list of users that (user_id) follows.
      operationId: Users_getUserFollowings
      parameters:
      - description: SoundCloud User id
        example: 948745750
        explode: false
        in: path
        name: user_id
        required: true
        schema:
          type: integer
        style: simple
        x-konfig-original-example: 948745750
      - description: Number of results to return in the collection.
        example: 2
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 50
          example: 50
          maximum: 200
          minimum: 1
          type: integer
          x-konfig-original-example: 50
          x-konfig-generated-schema: konfig-generated-schema-components-parameters-limit-schema
        style: form
        x-konfig-original-example: 2
      responses:
        "200":
          content:
            application/json; charset=utf-8:
              examples:
                default:
                  $ref: '#/components/examples/Users'
              schema:
                $ref: '#/components/schemas/Users'
          description: Success
        "401":
          content:
            application/json; charset=utf-8:
              examples:
                default:
                  $ref: '#/components/examples/Unauthorized'
              schema:
                $ref: '#/components/schemas/Error'
          description: Unauthorized
          x-do-not-generate: true
      security:
      - AuthHeader: []
      summary: Returns a list of user’s followings.
      tags:
      - users
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--users-user_id-followings
      x-accepts: application/json; charset=utf-8
  /users/{user_id}/followings/{following_id}:
    get:
      deprecated: true
      description: Returns (following_id) that is followed by (user_id).
      operationId: Users_getFollowingById
      parameters:
      - description: SoundCloud User id
        example: 948745750
        explode: false
        in: path
        name: user_id
        required: true
        schema:
          type: integer
        style: simple
        x-konfig-original-example: 948745750
      - description: SoundCloud User id to denote a Following of a user
        example: 25219981
        explode: false
        in: path
        name: following_id
        required: true
        schema:
          type: integer
        style: simple
        x-konfig-original-example: 25219981
      responses:
        "200":
          content:
            application/json; charset=utf-8:
              examples:
                default:
                  $ref: '#/components/examples/User'
              schema:
                $ref: '#/components/schemas/User'
          description: Success
        "401":
          content:
            application/json; charset=utf-8:
              examples:
                default:
                  $ref: '#/components/examples/Unauthorized'
              schema:
                $ref: '#/components/schemas/Error'
          description: Unauthorized
          x-do-not-generate: true
        "404":
          content:
            application/json:
              examples:
                default:
                  $ref: '#/components/examples/NotFound'
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Found
          x-do-not-generate: true
      security:
      - AuthHeader: []
      summary: "Returns a user's following. (use /users/{user_id} instead, to fetch\
        \ the user details)"
      tags:
      - users
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--users-user_id-followings-following_id
      x-accepts: application/json
  /users/{user_id}/playlists:
    get:
      operationId: Users_getUserPlaylists
      parameters:
      - description: SoundCloud User id
        example: 948745750
        explode: false
        in: path
        name: user_id
        required: true
        schema:
          type: integer
        style: simple
        x-konfig-original-example: 948745750
      - description: |
          Filters content by level of access the user (logged in or anonymous) has to the track. The result list will include only tracks with the specified access. Include all options if you'd like to see all possible tracks. See `Track#access` schema for more details.
        explode: false
        in: query
        name: access
        required: false
        schema:
          example: "playable,preview"
          items:
            enum:
            - playable
            - preview
            - blocked
            type: string
          type: array
          x-konfig-original-example: "playable,preview"
          x-konfig-generated-schema: konfig-generated-schema-components-parameters-access-schema
        style: form
      - description: A boolean flag to request a playlist with or without tracks.
          Default is `true`.
        example: true
        explode: true
        in: query
        name: show_tracks
        required: false
        schema:
          type: boolean
        style: form
        x-konfig-original-example: true
      - description: Number of results to return in the collection.
        example: 2
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 50
          example: 50
          maximum: 200
          minimum: 1
          type: integer
          x-konfig-original-example: 50
          x-konfig-generated-schema: konfig-generated-schema-components-parameters-limit-schema
        style: form
        x-konfig-original-example: 2
      - description: "Returns paginated collection of items (recommended, returning\
          \ a list without pagination is deprecated and should not be used)"
        example: true
        explode: true
        in: query
        name: linked_partitioning
        required: false
        schema:
          type: boolean
        style: form
        x-konfig-original-example: true
      responses:
        "200":
          content:
            application/json; charset=utf-8:
              examples:
                default:
                  $ref: '#/components/examples/Playlists'
                playlistsArray:
                  $ref: '#/components/examples/PlaylistsArray'
              schema:
                $ref: '#/components/schemas/MeGetLikedPlaylistsResponse'
          description: Success
        "401":
          content:
            application/json; charset=utf-8:
              examples:
                default:
                  $ref: '#/components/examples/Unauthorized'
              schema:
                $ref: '#/components/schemas/Error'
          description: Unauthorized
          x-do-not-generate: true
[...]
